* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.top_and_down {
    width: 100%;
    background-color: #3902ff;
    color: #D0FFB0;
    display: flex;
}

.logo {
    width: 10%;
}

.menu {
    width: 100%;
}

ul {
    height: 100%;    
    list-style: none;
    display: flex;
}

li {
    margin: 2%;
    text-align: center;
}

a:hover {
    color:white;
}

a {
    color:rgb(250, 250, 250);
    text-align: center;
    height: max-content;
}

#medium {
    display:flex;
    width: 100%;
    height: 80%;
}

aside {
    width: 15%;
    background-color: #D0FFB0;
}


#content {
    display: grid;
    width: 70%;
    padding: 1%;
}

.section {
    justify-content: center;
    text-align: justify;
    width: 90%;
    display:grid;
    margin: 2%;
}

.image_device {
    width: 40%;
    margin: 2%;
}

.image_and_description{
    display: flex;
    justify-content: baseline;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

.contenth1{
    margin-left: 3%;
}


footer {
    text-align: center;
    justify-content: center;
}

#contact_info {
    text-align: center;
}